{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}

<div class="bk-pt-default">

<div class="right-section container">
		<div class="header-container clearfix">
			<div class="navigation-container">
				<div class="logo-container">
				    {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
				</div>
				<div class="companyname-container">
    	        	{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
    	        </div>
			</div>
			<div class="navigation-widget-profile">
			    {{widget('extendednavigation', 'extendednavigation', {"align":"right"})|raw}}
			</div>
		</div>
			
			<!-- Container -->
			
				<!-- Page Content -->
				<section class="template-content">
			
					<!-- Template Widgets -->
					
					<!-- End Template Widgets -->
			
					<!-- Main Widet Zone -->
				   	{{zone('main')|raw}}
			
				</section>
				<!-- End Page Content -->
			
			<!-- End Container -->
</div>

</div>
	
{% endblock %}
